.word, .number{
  text-align: center;
}

.number{
  margin-top: 4rem;
}

label{
  display: block;
}

.word label{
  margin: 2rem 0;
}


.number label{
  margin-top: 2rem;
  margin-bottom: 1rem;
}


.result {
  margin: 2rem 0;
}