.word, .number-game{
  text-align: center;
}

.number-game{
  margin-top: 4rem;
}

label{
  display: block;
}

.word label{
  margin: 2rem 0;
}


.number-game label{
  margin-top: 2rem;
  margin-bottom: 1rem;
}


.result {
  margin: 2rem 0;
}